.modal {
    display: none;  
    position: fixed;  
    z-index: 1;  
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /
  }
  
  /* Modal content */
  .modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 400px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
  }
  
  /* Close button */
  .close-btn {
    font-size: 30px;
    color: #aaa;
    float: right;
    cursor: pointer;
  }
  
  .close-btn:hover {
    color: black;
  }
  
  /* Image styling */
  #pokemonImage {
    width: 100%;
    max-width: 200px;
    height: auto;
    display: block;
    margin: 10px auto;
  }